{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div>
        <ul>
            <li class="left_bar"><a href="/">Play</a></li>
            <li class="left_bar"><a href="/history">History</a></li>
            <li class="left_bar"><a href="/about">About</a></li>
            <li class="left_bar"><a href="/contact">Contact</a></li>
        {% if session.user_id %}
            <li class="right_bar"><a href="/logout">Log Out</a></li>
        {% else %}
            <li class="right_bar"><a href="/register">Register</a></li>
            <li class="right_bar"><a href="/login">Login</a></li>
        {% endif %}
        </ul>
    </div>
    <div>
      <h1 id="about">About me</h1>
      <div>
        <p id="about_text">Hello, my name is Igor Izotikov, I am 19 years old student from Moscow, Russia.<br>Right now I am studying
          in All-Russian State University of Justice, majoring in "lawyer".<br>Yeah, this is funny, lawyer learning about
          sites creating, not the law.<br>The thing is I don't really like law and major that I chose, but what happened is
          happened.<br>That's why I am learning programming and want to become programmer in the future.<br>And I really
          appreciate that you are reading this right now, thank you for your support. All best!<br><br><br><br>P.S.
          Yes, that's how I look like :D</p>
        <img id="myphoto" src="/static/images/me.jpg" alt="That's how I look.">
      </div>
    </div>
{% endblock %}