{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div>
        <ul>
            <li class="left_bar"><a href="/">Play</a></li>
            <li class="left_bar"><a href="/history">History</a></li>
            <li class="left_bar"><a href="/about">About</a></li>
            <li class="left_bar"><a href="/contact">Contact</a></li>
        {% if session.user_id %}
            <li class="right_bar"><a href="/logout">Log Out</a></li>
        {% else %}
            <li class="right_bar"><a href="/register">Register</a></li>
            <li class="right_bar"><a href="/login">Login</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="table_history">
        <table class="table" style="background-color: white; border-radius: 4px; overflow: hidden;">
            <thead class="table-dark">
                <tr>
                    <th class="text-start">Date</th>
                    <th class="text-start">Word</th>
                    <th class="text-end">Word Completion</th>
                    <th class="text-end">Tries left</th>
                </tr>
            </thead>
            <tbody>
                {% for i in info %}
                    <tr>
                        <td class="text-start">{{ i.date }}</td>
                        <td class="text-start">{{ i.word }}</td>
                        <td class="text-end">{{ i.word_completion }}</td>
                        <td class="text-end">{{ i.tries }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}